@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  background-color: #000;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content{
  background-image: url('../assets/bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  max-width: 760px;
  margin: 0 auto;
  padding: 1rem;
  height: 100vh;
}