
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.player-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
}
.player-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.board {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-template-rows: repeat(3, 120px);
  gap: 5px;
}
.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e03d;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #ffffff;
  border-radius: 10px;
}
.winning-cell {
  background-color: red;
  color: white;
}
.result {
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: center;
}